In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
filepath = "../raw_data/pv_generation_data"
filename_actual = "solar_energy_extrapolation.csv"
filename_forecast = "solar_energy_forecast.csv"

In [3]:
# df = pd.read_csv(os.path.join(filepath, filename_actual), sep=';',)

# df.columns = ['date', 'from','to','50hertz(MW)','Amprion(MW)','TenneTTSO(MW)','TransnetBW(MW)']
# B_idxs = df.apply(lambda row: True if ('B' in row['from']) or ('B' in row['to']) else False, axis=1)
# df.loc[B_idxs,'to'] = df.loc[B_idxs,'to'].str.replace('02B:00','03:00')

In [4]:
# df.loc[B_idxs]

In [5]:
def clean_pv_data(df):
    df.columns = ['date', 'from','to','50hertz(MW)','Amprion(MW)','TenneTTSO(MW)','TransnetBW(MW)']
    df['from'] = df['date'].str[:] + '-' + df['from'].str[:]
    df['to'] = df['date'].str[:] + '-' + df['to'].str[:]
    # find indexes which have 'A's and 'B's
    A_idxs = df.apply(lambda row: True if ('A' in row['from']) or ('A' in row['to']) else False, axis=1)
    B_idxs = df.apply(lambda row: True if ('B' in row['from']) or ('B' in row['to']) else False, axis=1)
    # drop 'B's and set 0 to 'A's
    # remove 'AB' chars too.
    
    data_cols = ['50hertz(MW)','Amprion(MW)','TenneTTSO(MW)','TransnetBW(MW)']
    for col_name in data_cols:
        print("Cleaning {}...".format(col_name))
        df.loc[A_idxs, col_name] = 0
        
        #change dtype to numeric
        df[col_name] = df[col_name].astype(str)
        df[col_name] = df[col_name].str.replace(',','.')
        df[col_name] = df[col_name].astype(float)
        
    df.loc[A_idxs,'from'] = df.loc[A_idxs,'from'].str.replace('A','')
    df.loc[A_idxs,'to'] = df.loc[A_idxs,'to'].str.replace('A','')
    df.loc[B_idxs,'to'] = df.loc[B_idxs,'to'].str.replace('02B:00','03:00')
    B_idxs = df.apply(lambda row: True if ('B' in row['from']) or ('B' in row['to']) else False, axis=1) # find Bs again
    df.drop(B_idxs.loc[B_idxs].index, inplace=True) #drop 'B's
        
    
    
    # change dtype to datetime
    print("Processing pd.to_datetime('date')...")
    df['date'] = df['date'].apply(lambda x: pd.to_datetime(x, format='%d.%m.%Y'))
    print("Processing pd.to_datetime('from')...")
    df['from'] = df['from'].apply(lambda x: pd.to_datetime(x, format='%d.%m.%Y-%H:%M'))
    print("Processing pd.to_datetime('to')...")
    df['to'] = df['to'].apply(lambda x: pd.to_datetime(x, format='%d.%m.%Y-%H:%M'))
    
    df.reset_index(drop=True, inplace=True)
    return df

actual_file = pd.read_csv(os.path.join(filepath, filename_actual), sep=';',)
forecast_file = pd.read_csv(os.path.join(filepath, filename_forecast), sep=';')
actual_dataframe = clean_pv_data(actual_file)
forecast_dataframe = clean_pv_data(forecast_file)

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Cleaning 50hertz(MW)...
Cleaning Amprion(MW)...
Cleaning TenneTTSO(MW)...
Cleaning TransnetBW(MW)...
Processing pd.to_datetime('date')...
Processing pd.to_datetime('from')...
Processing pd.to_datetime('to')...
Cleaning 50hertz(MW)...
Cleaning Amprion(MW)...
Cleaning TenneTTSO(MW)...
Cleaning TransnetBW(MW)...
Processing pd.to_datetime('date')...
Processing pd.to_datetime('from')...
Processing pd.to_datetime('to')...

In [6]:
def merge_actual_forecast(actual_dataframe, forecast_dataframe):
    df = actual_dataframe.copy()
    data_cols = ['50hertz(MW)','Amprion(MW)','TenneTTSO(MW)','TransnetBW(MW)']
    for old_colname in data_cols: 
        df.rename(columns={old_colname:'actual_'+old_colname}, inplace=True)
        df['forecast_'+old_colname] = forecast_dataframe[old_colname]
    return df

merged_df = merge_actual_forecast(actual_dataframe, forecast_dataframe)
merged_df

,date,from,to,actual_50hertz(MW),actual_Amprion(MW),actual_TenneTTSO(MW),actual_TransnetBW(MW),forecast_50hertz(MW),forecast_Amprion(MW),forecast_TenneTTSO(MW),forecast_TransnetBW(MW)
0,2011-04-01,2011-04-01 00:00:00,2011-04-01 00:15:00,0.0,0.00,0.000,0.0,NaN,0.0,0.000,0.0
1,2011-04-01,2011-04-01 00:15:00,2011-04-01 00:30:00,0.0,0.00,0.000,0.0,NaN,0.0,0.000,0.0
2,2011-04-01,2011-04-01 00:30:00,2011-04-01 00:45:00,0.0,0.00,0.000,0.0,NaN,0.0,0.000,0.0
3,2011-04-01,2011-04-01 00:45:00,2011-04-01 01:00:00,0.0,0.00,0.000,0.0,NaN,0.0,0.000,0.0
4,2011-04-01,2011-04-01 01:00:00,2011-04-01 01:15:00,0.0,0.00,0.000,0.0,NaN,0.0,0.000,0.0
5,2011-04-01,2011-04-01 01:15:00,2011-04-01 01:30:00,0.0,0.00,0.000,0.0,NaN,0.0,0.000,0.0
6,2011-04-01,2011-04-01 01:30:00,2011-04-01 01:45:00,0.0,0.00,0.000,0.0,NaN,0.0,0.000,0.0
7,2011-04-01,2011-04-01 01:45:00,2011-04-01 02:00:00,0.0,0.00,0.000,0.0,NaN,0.0,0.000,0.0
8,2011-04-01,2011-04-01 02:00:00,2011-04-01 02:15:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
9,2011-04-01,2011-04-01 02:15:00,2011-04-01 02:30:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
10,2011-04-01,2011-04-01 02:30:00,2011-04-01 02:45:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
11,2011-04-01,2011-04-01 02:45:00,2011-04-01 03:00:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
12,2011-04-01,2011-04-01 03:00:00,2011-04-01 03:15:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
13,2011-04-01,2011-04-01 03:15:00,2011-04-01 03:30:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
14,2011-04-01,2011-04-01 03:30:00,2011-04-01 03:45:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
15,2011-04-01,2011-04-01 03:45:00,2011-04-01 04:00:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
16,2011-04-01,2011-04-01 04:00:00,2011-04-01 04:15:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
17,2011-04-01,2011-04-01 04:15:00,2011-04-01 04:30:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
18,2011-04-01,2011-04-01 04:30:00,2011-04-01 04:45:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
19,2011-04-01,2011-04-01 04:45:00,2011-04-01 05:00:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
20,2011-04-01,2011-04-01 05:00:00,2011-04-01 05:15:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
21,2011-04-01,2011-04-01 05:15:00,2011-04-01 05:30:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
22,2011-04-01,2011-04-01 05:30:00,2011-04-01 05:45:00,0.0,0.00,0.000,0.0,0.0,0.0,0.600,0.0
23,2011-04-01,2011-04-01 05:45:00,2011-04-01 06:00:00,0.0,0.00,0.000,0.0,0.0,0.0,1.201,0.0
24,2011-04-01,2011-04-01 06:00:00,2011-04-01 06:15:00,0.0,0.00,0.000,0.0,2.0,0.0,1.801,0.0
25,2011-04-01,2011-04-01 06:15:00,2011-04-01 06:30:00,3.0,0.00,0.174,0.0,2.0,0.0,2.401,0.0
26,2011-04-01,2011-04-01 06:30:00,2011-04-01 06:45:00,6.0,0.00,1.089,0.0,2.0,0.0,14.951,2.4
27,2011-04-01,2011-04-01 06:45:00,2011-04-01 07:00:00,9.0,0.00,1.597,0.0,2.0,1.0,27.500,4.8
28,2011-04-01,2011-04-01 07:00:00,2011-04-01 07:15:00,20.0,1.00,8.103,0.7,37.0,2.0,40.049,7.2
29,2011-04-01,2011-04-01 07:15:00,2011-04-01 07:30:00,36.0,8.00,37.085,6.0,37.0,7.0,52.598,9.6
...,...,...,...,...,...,...,...,...,...,...,...
236802,2017-12-31,2017-12-31 16:30:00,2017-12-31 16:45:00,0.0,0.39,0.060,9.0,0.0,1.0,5.210,8.0
236803,2017-12-31,2017-12-31 16:45:00,2017-12-31 17:00:00,0.0,0.00,0.020,3.0,0.0,0.0,1.670,2.0
236804,2017-12-31,2017-12-31 17:00:00,2017-12-31 17:15:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236805,2017-12-31,2017-12-31 17:15:00,2017-12-31 17:30:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236806,2017-12-31,2017-12-31 17:30:00,2017-12-31 17:45:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236807,2017-12-31,2017-12-31 17:45:00,2017-12-31 18:00:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236808,2017-12-31,2017-12-31 18:00:00,2017-12-31 18:15:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236809,2017-12-31,2017-12-31 18:15:00,2017-12-31 18:30:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236810,2017-12-31,2017-12-31 18:30:00,2017-12-31 18:45:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236811,2017-12-31,2017-12-31 18:45:00,2017-12-31 19:00:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236812,2017-12-31,2017-12-31 19:00:00,2017-12-31 19:15:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236813,2017-12-31,2017-12-31 19:15:00,2017-12-31 19:30:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236814,2017-12-31,2017-12-31 19:30:00,2017-12-31 19:45:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236815,2017-12-31,2017-12-31 19:45:00,2017-12-31 20:00:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236816,2017-12-31,2017-12-31 20:00:00,2017-12-31 20:15:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236817,2017-12-31,2017-12-31 20:15:00,2017-12-31 20:30:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236818,2017-12-31,2017-12-31 20:30:00,2017-12-31 20:45:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236819,2017-12-31,2017-12-31 20:45:00,2017-12-31 21:00:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236820,2017-12-31,2017-12-31 21:00:00,2017-12-31 21:15:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236821,2017-12-31,2017-12-31 21:15:00,2017-12-31 21:30:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236822,2017-12-31,2017-12-31 21:30:00,2017-12-31 21:45:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236823,2017-12-31,2017-12-31 21:45:00,2017-12-31 22:00:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236824,2017-12-31,2017-12-31 22:00:00,2017-12-31 22:15:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236825,2017-12-31,2017-12-31 22:15:00,2017-12-31 22:30:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236826,2017-12-31,2017-12-31 22:30:00,2017-12-31 22:45:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236827,2017-12-31,2017-12-31 22:45:00,2017-12-31 23:00:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236828,2017-12-31,2017-12-31 23:00:00,2017-12-31 23:15:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236829,2017-12-31,2017-12-31 23:15:00,2017-12-31 23:30:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236830,2017-12-31,2017-12-31 23:30:00,2017-12-31 23:45:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0
236831,2017-12-31,2017-12-31 23:45:00,2017-12-31 00:00:00,0.0,0.00,0.000,0.0,0.0,0.0,0.000,0.0

In [7]:
from collections import OrderedDict
def split_companies(company_name, dataframe):
    return pd.DataFrame(OrderedDict([('date',dataframe['date']),
                                     ('from',dataframe['from']),
                                     ('to',dataframe['to']),
                                     ('actual',dataframe['actual_{}(MW)'.format(company_name)]),
                                     ('forecast',dataframe['forecast_{}(MW)'.format(company_name)])]))
def write_csv(company_name, merged_df):
    split_companies(company_name, merged_df).to_csv(
        '../input/PV_Generation_{}_2011-2017_cleaned.csv'.format(company_name), index=None)

write_csv('50hertz', merged_df)
write_csv('Amprion', merged_df)
write_csv('TenneTTSO', merged_df)
write_csv('TransnetBW', merged_df)

In [8]:
last= pd.to_datetime('2017-12-31 17:15:00') 
first= pd.to_datetime('2011-04-01')

In [40]:
h = pd.read_csv('../input/Load_Amprion_2010-2017_cleaned.csv')
h['from'] = h['from'].apply(lambda x: pd.to_datetime(x))

In [41]:
h.loc[(h['from'].diff(1) != pd.Timedelta(minutes=15))]

,date,from,to,actual,forecast
0,2010-01-01 00:00:00,2010-01-01 00:00:00,2010-01-01 00:15:00,16990.0,19211.0
96,2010-02-01 00:00:00,2010-02-01 00:00:00,2010-02-01 00:15:00,16558.0,17258.0
192,2010-03-01 00:00:00,2010-03-01 00:00:00,2010-03-01 00:15:00,18529.0,18951.0
288,2010-04-01 00:00:00,2010-04-01 00:00:00,2010-04-01 00:15:00,19038.0,16948.0
384,2010-05-01 00:00:00,2010-05-01 00:00:00,2010-05-01 00:15:00,20989.0,18042.0
480,2010-06-01 00:00:00,2010-06-01 00:00:00,2010-06-01 00:15:00,21625.0,18108.0
576,2010-07-01 00:00:00,2010-07-01 00:00:00,2010-07-01 00:15:00,21651.0,21475.0
672,2010-08-01 00:00:00,2010-08-01 00:00:00,2010-08-01 00:15:00,21833.0,20725.0
768,2010-10-01 00:00:00,2010-10-01 00:00:00,2010-10-01 00:15:00,21229.0,19381.0
864,2010-11-01 00:00:00,2010-11-01 00:00:00,2010-11-01 00:15:00,20273.0,19687.0
960,2010-12-01 00:00:00,2010-12-01 00:00:00,2010-12-01 00:15:00,21722.0,22018.0
1056,2010-01-13 00:00:00,2010-01-13 00:00:00,2010-01-13 00:15:00,22325.0,22469.0
1344,2010-01-16 00:00:00,2010-01-16 00:45:00,2010-01-16 01:00:00,20542.0,20742.0
1345,2010-01-16 00:00:00,2010-01-16 01:45:00,2010-01-16 02:00:00,19771.0,20007.0
1346,2010-01-16 00:00:00,2010-01-16 02:45:00,2010-01-16 03:00:00,19644.0,19535.0
1347,2010-01-16 00:00:00,2010-01-16 03:45:00,2010-01-16 04:00:00,19280.0,19453.0
1348,2010-01-16 00:00:00,2010-01-16 04:45:00,2010-01-16 05:00:00,19069.0,18764.0
1349,2010-01-16 00:00:00,2010-01-16 05:45:00,2010-01-16 06:00:00,18385.0,18190.0
1350,2010-01-16 00:00:00,2010-01-16 06:45:00,2010-01-16 07:00:00,18330.0,18138.0
1351,2010-01-16 00:00:00,2010-01-16 07:45:00,2010-01-16 08:00:00,19766.0,18833.0
1352,2010-01-16 00:00:00,2010-01-16 08:45:00,2010-01-16 09:00:00,21262.0,20124.0
1353,2010-01-16 00:00:00,2010-01-16 09:45:00,2010-01-16 10:00:00,22569.0,21494.0
1354,2010-01-16 00:00:00,2010-01-16 10:45:00,2010-01-16 11:00:00,23149.0,22010.0
1355,2010-01-16 00:00:00,2010-01-16 11:45:00,2010-01-16 12:00:00,23497.0,22586.0
1356,2010-01-16 00:00:00,2010-01-16 12:45:00,2010-01-16 13:00:00,23428.0,22907.0
1357,2010-01-16 00:00:00,2010-01-16 13:45:00,2010-01-16 14:00:00,22680.0,22501.0
1358,2010-01-16 00:00:00,2010-01-16 14:45:00,2010-01-16 15:00:00,22282.0,22066.0
1359,2010-01-16 00:00:00,2010-01-16 15:45:00,2010-01-16 16:00:00,22128.0,22065.0
1360,2010-01-16 00:00:00,2010-01-16 16:45:00,2010-01-16 17:00:00,22540.0,22737.0
1361,2010-01-16 00:00:00,2010-01-16 17:45:00,2010-01-16 18:00:00,23927.0,23753.0
...,...,...,...,...,...
169252,2014-03-11 00:00:00,2014-03-11 00:00:00,2014-03-11 00:15:00,17267.0,17708.0
169348,2014-04-11 00:00:00,2014-04-11 00:00:00,2014-04-11 00:15:00,19336.0,18677.0
169444,2014-05-11 00:00:00,2014-05-11 00:00:00,2014-05-11 00:15:00,17926.0,18853.0
169540,2014-06-11 00:00:00,2014-06-11 00:00:00,2014-06-11 00:15:00,18058.0,19191.0
169636,2014-07-11 00:00:00,2014-07-11 00:00:00,2014-07-11 00:15:00,18308.0,19520.0
169732,2014-08-11 00:00:00,2014-08-11 00:00:00,2014-08-11 00:15:00,18646.0,19166.0
169828,2014-09-11 00:00:00,2014-09-11 00:00:00,2014-09-11 00:15:00,16803.0,17188.0
169924,2014-10-11 00:00:00,2014-10-11 00:00:00,2014-10-11 00:15:00,0.0,17545.0
170020,2014-11-11 00:00:00,2014-11-11 00:00:00,2014-11-11 00:15:00,18467.0,18916.0
170116,2014-12-11 00:00:00,2014-12-11 00:00:00,2014-12-11 00:15:00,18881.0,18792.0
170212,2014-11-13 00:00:00,2014-11-13 00:00:00,2014-11-13 00:15:00,18870.0,19641.0
171940,2014-01-12 00:00:00,2014-01-12 00:00:00,2014-01-12 00:15:00,18326.0,18699.0
172036,2014-02-12 00:00:00,2014-02-12 00:00:00,2014-02-12 00:15:00,20033.0,20073.0
172132,2014-03-12 00:00:00,2014-03-12 00:00:00,2014-03-12 00:15:00,19773.0,20589.0
172228,2014-04-12 00:00:00,2014-04-12 00:00:00,2014-04-12 00:15:00,20107.0,20571.0
172324,2014-05-12 00:00:00,2014-05-12 00:00:00,2014-05-12 00:15:00,19214.0,20486.0
172420,2014-06-12 00:00:00,2014-06-12 00:00:00,2014-06-12 00:15:00,18826.0,20261.0
172516,2014-07-12 00:00:00,2014-07-12 00:00:00,2014-07-12 00:15:00,17443.0,18801.0
172612,2014-08-12 00:00:00,2014-08-12 00:00:00,2014-08-12 00:15:00,18295.0,18699.0
172708,2014-09-12 00:00:00,2014-09-12 00:00:00,2014-09-12 00:15:00,19103.0,19762.0
172804,2014-10-12 00:00:00,2014-10-12 00:00:00,2014-10-12 00:15:00,20973.0,20697.0
172900,2014-11-12 00:00:00,2014-11-12 00:00:00,2014-11-12 00:15:00,20526.0,21090.0
172996,2014-12-12 00:00:00,2014-12-12 00:00:00,2014-12-12 00:15:00,20808.0,21116.0
203440,2015-10-25 00:00:00,2015-10-25 02:00:00,2015-10-25 02:15:00,15017.0,15158.0
239060,2016-10-30 00:00:00,2016-10-30 02:00:00,2016-10-30 02:15:00,14718.0,14703.0
274008,2017-10-29 00:00:00,2017-10-29 02:00:00,2017-10-29 02:15:00,16854.0,15937.0
280144,2015-01-01 00:00:00,2015-01-01 00:00:00,2015-01-01 00:15:00,15125.0,15765.0
308668,2015-10-25 00:00:00,2015-10-25 02:00:00,2015-10-25 02:15:00,15017.0,15158.0
344288,2016-10-30 00:00:00,2016-10-30 02:00:00,2016-10-30 02:15:00,14718.0,14703.0
379236,2017-10-29 00:00:00,2017-10-29 02:00:00,2017-10-29 02:15:00,16854.0,15937.0

In [42]:
h.iloc[90:100]

,date,from,to,actual,forecast
90,2010-01-01 00:00:00,2010-01-01 22:30:00,2010-01-01 22:45:00,18576.0,19026.0
91,2010-01-01 00:00:00,2010-01-01 22:45:00,2010-01-01 23:00:00,18295.0,18658.0
92,2010-01-01 00:00:00,2010-01-01 23:00:00,2010-01-01 23:15:00,17951.0,18444.0
93,2010-01-01 00:00:00,2010-01-01 23:15:00,2010-01-01 23:30:00,17665.0,18008.0
94,2010-01-01 00:00:00,2010-01-01 23:30:00,2010-01-01 23:45:00,17139.0,17670.0
95,2010-01-01 00:00:00,2010-01-01 23:45:00,2010-01-01 00:00:00,16857.0,17274.0
96,2010-02-01 00:00:00,2010-02-01 00:00:00,2010-02-01 00:15:00,16558.0,17258.0
97,2010-02-01 00:00:00,2010-02-01 00:15:00,2010-02-01 00:30:00,16294.0,17020.0
98,2010-02-01 00:00:00,2010-02-01 00:30:00,2010-02-01 00:45:00,15981.0,16665.0
99,2010-02-01 00:00:00,2010-02-01 00:45:00,2010-02-01 01:00:00,15820.0,16426.0

In [34]:
h[70:120]

,date,from,to,actual,forecast
70,2010-01-01 00:00:00,2010-01-01 17:30:00,2010-01-01 17:45:00,7765.0,7082.0
71,2010-01-01 00:00:00,2010-01-01 17:45:00,2010-01-01 18:00:00,7856.0,7132.0
72,2010-01-01 00:00:00,2010-01-01 18:00:00,2010-01-01 18:15:00,7707.0,7643.0
73,2010-01-01 00:00:00,2010-01-01 18:15:00,2010-01-01 18:30:00,7749.0,7628.0
74,2010-01-01 00:00:00,2010-01-01 18:30:00,2010-01-01 18:45:00,7711.0,7649.0
75,2010-01-01 00:00:00,2010-01-01 18:45:00,2010-01-01 19:00:00,7688.0,7644.0
76,2010-01-01 00:00:00,2010-01-01 19:00:00,2010-01-01 19:15:00,7854.0,8101.0
77,2010-01-01 00:00:00,2010-01-01 19:15:00,2010-01-01 19:30:00,7786.0,8055.0
78,2010-01-01 00:00:00,2010-01-01 19:30:00,2010-01-01 19:45:00,7727.0,7997.0
79,2010-01-01 00:00:00,2010-01-01 19:45:00,2010-01-01 20:00:00,7607.0,7940.0
80,2010-01-01 00:00:00,2010-01-01 20:00:00,2010-01-01 20:15:00,7295.0,8011.0
81,2010-01-01 00:00:00,2010-01-01 20:15:00,2010-01-01 20:30:00,7157.0,7881.0
82,2010-01-01 00:00:00,2010-01-01 20:30:00,2010-01-01 20:45:00,6914.0,7753.0
83,2010-01-01 00:00:00,2010-01-01 20:45:00,2010-01-01 21:00:00,6842.0,7658.0
84,2010-01-01 00:00:00,2010-01-01 21:00:00,2010-01-01 21:15:00,6908.0,7411.0
85,2010-01-01 00:00:00,2010-01-01 21:15:00,2010-01-01 21:30:00,6788.0,7333.0
86,2010-01-01 00:00:00,2010-01-01 21:30:00,2010-01-01 21:45:00,6728.0,7288.0
87,2010-01-01 00:00:00,2010-01-01 21:45:00,2010-01-01 22:00:00,6762.0,7319.0
88,2010-01-01 00:00:00,2010-01-01 22:00:00,2010-01-01 22:15:00,6908.0,6897.0
89,2010-01-01 00:00:00,2010-01-01 22:15:00,2010-01-01 22:30:00,6858.0,6977.0
90,2010-01-01 00:00:00,2010-01-01 22:30:00,2010-01-01 22:45:00,6822.0,6902.0
91,2010-01-01 00:00:00,2010-01-01 22:45:00,2010-01-01 23:00:00,6675.0,6805.0
92,2010-01-01 00:00:00,2010-01-01 23:00:00,2010-01-01 23:15:00,6855.0,7124.0
93,2010-01-01 00:00:00,2010-01-01 23:15:00,2010-01-01 23:30:00,6711.0,7060.0
94,2010-01-01 00:00:00,2010-01-01 23:30:00,2010-01-01 23:45:00,6502.0,6990.0
95,2010-01-01 00:00:00,2010-01-01 23:45:00,2010-01-02 00:00:00,6446.0,6938.0
96,2010-01-02 00:00:00,2010-01-02 00:00:00,2010-01-02 00:15:00,6289.0,7858.0
97,2010-01-02 00:00:00,2010-01-02 00:15:00,2010-01-02 00:30:00,6201.0,7781.0
98,2010-01-02 00:00:00,2010-01-02 00:30:00,2010-01-02 00:45:00,6099.0,7725.0
99,2010-01-02 00:00:00,2010-01-02 00:45:00,2010-01-02 01:00:00,6071.0,7661.0
100,2010-01-02 00:00:00,2010-01-02 01:00:00,2010-01-02 01:15:00,6003.0,7925.0
101,2010-01-02 00:00:00,2010-01-02 01:15:00,2010-01-02 01:30:00,5951.0,7884.0
102,2010-01-02 00:00:00,2010-01-02 01:30:00,2010-01-02 01:45:00,5904.0,7856.0
103,2010-01-02 00:00:00,2010-01-02 01:45:00,2010-01-02 02:00:00,5810.0,7837.0
104,2010-01-02 00:00:00,2010-01-02 02:00:00,2010-01-02 02:15:00,5608.0,7709.0
105,2010-01-02 00:00:00,2010-01-02 02:15:00,2010-01-02 02:30:00,5536.0,7716.0
106,2010-01-02 00:00:00,2010-01-02 02:30:00,2010-01-02 02:45:00,5516.0,7730.0
107,2010-01-02 00:00:00,2010-01-02 02:45:00,2010-01-02 03:00:00,5491.0,7702.0
108,2010-01-02 00:00:00,2010-01-02 03:00:00,2010-01-02 03:15:00,5463.0,8222.0
109,2010-01-02 00:00:00,2010-01-02 03:15:00,2010-01-02 03:30:00,5457.0,8235.0
110,2010-01-02 00:00:00,2010-01-02 03:30:00,2010-01-02 03:45:00,5438.0,8238.0
111,2010-01-02 00:00:00,2010-01-02 03:45:00,2010-01-02 04:00:00,5410.0,8242.0
112,2010-01-02 00:00:00,2010-01-02 04:00:00,2010-01-02 04:15:00,5417.0,8166.0
113,2010-01-02 00:00:00,2010-01-02 04:15:00,2010-01-02 04:30:00,5375.0,8167.0
114,2010-01-02 00:00:00,2010-01-02 04:30:00,2010-01-02 04:45:00,5399.0,8194.0
115,2010-01-02 00:00:00,2010-01-02 04:45:00,2010-01-02 05:00:00,5374.0,8219.0
116,2010-01-02 00:00:00,2010-01-02 05:00:00,2010-01-02 05:15:00,5384.0,8157.0
117,2010-01-02 00:00:00,2010-01-02 05:15:00,2010-01-02 05:30:00,5348.0,8172.0
118,2010-01-02 00:00:00,2010-01-02 05:30:00,2010-01-02 05:45:00,5276.0,8124.0
119,2010-01-02 00:00:00,2010-01-02 05:45:00,2010-01-02 06:00:00,5091.0,7877.0

In [15]:
pd.to_datetime('2017-12-31') - pd.to_datetime('2010-01-01')

Timedelta('2921 days 00:00:00')

In [16]:
2922*4*24

280512

In [17]:
pd.to_datetime('2017-12-31') - pd.to_datetime('2011-04-01')

Timedelta('2466 days 00:00:00')

In [19]:
2467*4*24

236832